@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Palette de couleurs. 
   Source https://design.quebec.ca/bases/couleurs */
:root {
  --qc-color-white: white;
  --qc-color-blue-pale: #dae6f0;
  --qc-color-blue-light: #4a98d9;
  --qc-color-blue-regular: #1479cc;
  --qc-color-blue-piv: #095797;
  --qc-color-blue-medium: #19406C;
  --qc-color-blue-dark: #223654;
  --qc-color-purple: #6b4fa1;
  --qc-color-grey-pale: #f1f1f2;
  --qc-color-grey-light: #c5cad2;
  --qc-color-grey-regular: #8893a2;
  --qc-color-grey-medium: #6b778a;
  --qc-color-grey-dark: #4e5662;
  --qc-color-pink-pale: #ffdbd6;
  --qc-color-pink-regular: #e58271;
  --qc-color-red-regular: #cb381f;
  --qc-color-red-dark: #692519;
  --qc-color-green-pale: #d7f0bb;
  --qc-color-green-regular: #4f813d;
  --qc-color-green-dark: #2c4024;
  --qc-color-yellow-pale: #f8e69a;
  --qc-color-yellow-regular: #e0ad03;
  --qc-color-yellow-dark: #ad781c;
  --qc-color-text-primary: var(--qc-color-blue-dark);
  --qc-color-accent: var(--qc-color-pink-regular);
  --qc-color-success: var(--qc-color-green-regular);
  --qc-color-error: var(--qc-color-red-regular);
  --qc-color-danger: var(--qc-color-red-dark);
  --qc-color-link-text: var(--qc-color-blue-piv);
  --qc-color-link-hover: var(--qc-color-blue-piv);
  --qc-color-link-visited: var(--qc-color-purple);
  --qc-color-link-active: var(--qc-color-red-regular);
}

/* ENTÊTES. */

/* Entête où on voit le logo du Québec. */
.md-header {
  background-color: var(--qc-color-blue-piv);
}

/* Entête "bleu foncé" où on voit les sections. */
.md-tabs {
  background-color: var(--qc-color-blue-dark);
}

/* Liens apparaissant dans cet entête "bleu foncé". */
a.md-tabs__link:link, a.md-tabs__link:visited {
  color: #ffffff;
}

a.md-tabs__link:hover {
  color: #ffffff;
}

/* Bas de page. */
.md-footer-meta {
  background-color: var(--qc-color-blue-dark);
}

/* Réduire l'espace au début du texte. */
.md-main__inner {
  margin-top: 0.5rem;
}

/* MENU DE GAUCHE. */

/* Menu de gauche. Titre d'une section. */
.md-nav--lifted>.md-nav__list>.md-nav__item>[for] {
  color: var(--qc-color-blue-piv);
}

.md-nav__item--section>.md-nav__link[for] {
    color: var(--qc-color-blue-piv);
}

/* Menu de gauche. Liens. */
.md-nav__item a.md-nav__link:link, .md-nav__item a.md-nav__link:visited {
  text-decoration: none;
  color: var(--qc-color-blue-piv);
}

.md-nav__item a.md-nav__link:hover {
  text-decoration: underline;
  color: var(--qc-color-blue-piv);
}

/* Titres. */
.md-typeset h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--qc-color-blue-dark);
  margin: 0px 0px 8px;
}

.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--qc-color-blue-dark);
  margin: 16px 0px 8px;
}

/* Paragraphes. */
p {
  color: var(--qc-color-blue-dark);
  font-size: 16px;
  margin: 12px 0px;
  line-height: 1.4;
}

/* Listes. */
ul {
  margin: 0 !important;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li {
  color: var(--qc-color-blue-dark);
  font-size: 16px;
  margin: 4px 0px;
}

/* Liens. */
.md-content a:link, .md-content a:visited {
  text-decoration: underline;
  color: var(--qc-color-blue-piv);
}

.md-content a:hover {
  text-decoration: none;
  color: var(--qc-color-blue-piv);
}

/* Tableau */
.md-typeset table:not([class]) {
  border-collapse: collapse;
  border: 1px solid var(--md-typeset-table-color);
  display: table;
}

tr:nth-child(even) {
  background-color: var(--md-code-bg-color);
}

td, th {
  border: 1px solid var(--md-typeset-table-color);
}

.md-typeset table:not([class]) {
  font-size: 16px !important;
}

.md-typeset table:not([class]) th {
  padding: 4px 9px;
}

.md-typeset table:not([class]) td {
  padding: 4px 9px;
}

/* Code */
.md-typeset code {
  font-size: 16px;
}

/* Avertissement. Warning. */
.md-typeset .admonition.warning, .md-typeset details.warning {
  border-color: #E58271
}

.md-typeset .warning>.admonition-title, .md-typeset .warning>summary {
  background-color: #FFDBD6;
}

/* Logo */
img.logo {
  max-width: min(500px, 50%);
}
